@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 0rem;
          column-count: 3;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}
